<p>
    <mat-toolbar color="primary">
      <span>Angular</span>

    <span class="example-spacer"></span>
      <button mat-button routerLink="/dashboard">Dashboard</button>
      <button mat-button routerLink="/dashboard/usuarios">Usuario</button>
      <button mat-button routerLink="/dashboard/reportes">Reporte</button> 
      <span class="example-spacer"></span>


     <button mat-icon-button routerLink="/logout">
        <mat-icon>open_in_new</mat-icon>
      </button>

    </mat-toolbar>
  </p>